@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .note {
    @apply relative h-60 w-52 flex flex-col bg-pastel-yellow-200 shadow-note-shadow shadow-md;
  }

  .stickytop {
    @apply flex h-5 bg-pastel-yellow-100 items-center justify-center;
  }

  .note-content {
    @apply line-clamp-6 mb-5 mx-5 font-note text-2xl text-center;
  }

  .centered {
    @apply flex items-center justify-center;
  }

  .board-wrapper > div:first-child {
    @apply rounded-xl;
  }

  .board-wrapper > * {
    @apply z-0;
  }

  .basic-button {
    @apply h-min p-2 px-5 bg-gradient-to-bl from-pastel-yellow-200 to-pastel-pink font-bold w-full text-black text-2xl rounded-lg;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms linear;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
